/* myStyle.css */
{
    background-color: antiquewhite
        border-color: #ccc
}
{
    background-color: antiquewhite
        border-color:#bbb
}
h1 {
    font-family: arial, "Times New Roman";
    text-shadow: 4px 4 px;
    font-size: 40px;
    font-style: italic;
    font-weight:200;
    text-align:center;
    color: #333399;
    }
img {
    float:right
}
h3 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style:normal;
    font-weight:100;
    text-align:left;
    color: green;
    }
p {
    font-family: arial, "Times New Roman";
    font-size: 30px;
    font-style:normal;
    font-weight:100;
    text-align:left;
    color: black;
    clear:left
    }
h4 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style:normal;
    font-weight:100;
    text-align:left;
    color: green;
    }
h5 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style:normal;
    font-weight:100;
    text-align:left;
    color: green;
    }
li {
    font-family: arial, "Times New Roman";
    font-size: 30px;
    font-style:normal;
    font-weight:100;
    text-align:left;
    color: red;
    }
ul li: {
    color:darkorange
}
h6 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style:normal;
    font-weight:100;
    text-align:left;
    color: green;
    }
ol li: {
    color:firebrick
        
}  
footer {
    font-size: 24px;
    font-style:italic
    font-weight:200
    text-align:center
    color:black
}
link {
    color: green; 
    font-style:normal;
    font-weight: 50;
 (a {text-decoration: none;})
    font-size: 8px;
    