/* myStyle.css */
body {
    background-color: linen;
}

<style type="text/css">
div {font-family: Arial; font-size: 14px; margin-left: 30px;}
p   {border-left: 1px dotted gray;}    
</style>
h1 {
    background-color: lightblue;
    border: blue;
    font-family: arial, "Times New Roman";
    text-shadow: 4px 4px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 5px #333;
    color: #333399;
    }
h2 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    color: green;
    }
img {
    float: right;
    padding: 10px;
    margin: 10px;
}
h3 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    color: green;
    }
p {
    font-family: arial, "Times New Roman";
    line-height: 1.5em;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    color: black;
    clear: left;
    }
ul {
    list-style-type: square;
}
h4 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    color: green;
    }
h5 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    color: green;
    }
li {
    font-family: arial, "Times New Roman";
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    Color: maroon;
    }
h6 {
    font-family: arial, "Times New Roman";
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    color: green;
    }
footer {
    border-top: 5px solid black;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    color: black;
}
link {
    color: green; 
    font-style: normal;
    font-weight: 100;
    font-size: 8px;
    text-decoration: none;
}
        
    